<header class='header section light' id='site-header'>
  <div class='container'>
    <div class='row'>
      <div class='col-29' id='logo'>
        <h1 class='site-title'>
          <a href='{{site.baseurl}}/' title='Peoplesized'><img class='logo' src="/css/images/word.png" alt="Peoplesized" /></a>
        </h1>
      </div>
      <div class='col-7' id='header-widgets'>
        <nav class='nav horizontal text-right' id='site-nav'>
          <ul class='dropdown'>
            <li>
              <a href='{{site.baseurl}}/' title='Home'>Home</a>
            </li>
            <li>
              <a href='{{site.baseurl}}/tools' title='Tools'>Tools</a>
            </li>
            <li>
              <a href='{{site.baseurl}}/portfolio' title='Portfolio'>Portfolio</a>
            </li>
            <li>
              <a href='{{site.baseurl}}/work-with-us' title='work-with-us'>Work with us</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
