<header class='header section light' id='site-header'>
  <div class='container'>
    <div class='row'>
      <div class='col-29' id='logo'>
        <h1 class='site-title'>
          <a href='/' title='Peoplesized'>Peoplesized</a>
        </h1>
      </div>
      <div class='col-7' id='header-widgets'>
        <nav class='nav horizontal text-right' id='site-nav'>
          <ul class='dropdown'>
            <li>
              <a href='/' title='Home'>Home</a>
            </li>
            <li>
              <a href='/portfolio' title='Portfolio'>Portfolio</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
