/*
 * Custom section background
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.section-bg-1{
    background-image: image-url('/images/24378125.jpg');
    background-size: cover;
}
.section-bg-gray,
.page-title{
    background-color: #F7F7F7;
}


/*
 * Custom color scheme
 * primary color: #3498DB;
 * secondary color: #3486BC;
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Primary color */
a, 
.icon.primary,
#site-nav > ul > li:not(.over) > a:hover,
.light .entry-date,
.light .entry-title a:hover,
.light .entry-meta a:hover,
.light .project-filter .active a,
.light .project-filter a:hover,
.project .project-thumb figcaption .icon:hover,
.pricing .plan-price{
    color: #3498DB;
}
 
.content-header.v3:after,
.button.primary,
.icon.circle.primary,
.icon.square.primary,
.breadcrumbs,
.pagenavi a:hover,
.pagenavi span.current,
.project .project-thumb figcaption,
.progress-bar .bar div,
.tabs.vertical .tabnav .active a{
    background-color: #3498DB;
}

input[type="text"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus,
.button.primary,
.icon.circle.primary,
.icon.square.primary,
.pagenavi a:hover,
.pagenavi span.current,
.tabs.vertical .tabnav .active a,
.pricing .plan.recommended{
    border-color: #3498DB;
}

.tabs.vertical .tabnav .active a:after{
    border-left-color: #3498DB;
}

/* Secondary color */
a:active, a:hover,
.light .entry-meta a:hover,
.light .masonry-entries .entry .entry-title a:hover,
.light .post-list .details .title a:hover,
.light .entry-meta a:hover,
.light .project .project-title a:hover{
    color: #3486BC;
}

.button.primary:hover,
.button.primary:focus,
.button.primary:active,
.button.primary.disabled,
.button.primary[disabled],
.icon.circle.primary:hover,
.icon.square.primary:hover{
    background-color: #3486BC;
}

.button.primary:hover,
.button.primary:focus,
.button.primary:active,
.button.primary.disabled,
.button.primary[disabled],
.icon.circle.primary:hover,
.icon.square.primary:hover{
    border-color: #3486BC;
}


/*ONLYJSMITH added*/
.section.light .site-title a {
    color: #696969;
}
#mobile-menu{
    background-color: #575757;
}
#mobile-menu-trigger {
    background-color: #DBDBDB;
}
// 
.section.light {
    background-color: #fff;
}

.section {
    background-color: #F0F0F0 
}

.section#section-services {
    background-image: url('images/1337697.jpg');
}
.section#section-about-us {
    background-color: rgb(45, 45, 45);
}

.project-images > img, figure.project-thumb > img {
    border: 1px solid rgba(148, 148, 148, 0.25);
    box-sizing: border-box;
}

mark {
    background-color: #00ACEE;
    &:hover {
        background: rgb(77, 206, 255);
    }
}

.project-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.flash-bar {
    display: inherit;
    height: 20px;
    background: rgb(195, 195, 143);
    padding: 10px;
    text-align: center;
}