<section class='section dark' id='section-about-us'>
  <div class='container'>
    <div class='section-content'>
      <div class='callout'>
        <div class='callout-text'>
          <h2>
            About Peoplesized
          </h2>
          <p class='lead'>
            <a href='https://uk.linkedin.com/in/jonathanjsmith'>
              <mark>Jonathan</mark>
            </a>
            works with a large network of public and private sector clients, partners and sub-contractors worldwide.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
