<section class='section light' id='section-portfolio'>
  <div class='container'>
    <div class='section-content'>
      <header class='content-header section-header text-center'>
        <h1 class='portfolio'>This is what we've been doing</h1>
        <p class='lead'>
          Live sites and projects, mobile apps, concepts, prototypes, programmes, partnerships. <a href="/portfolio">See it all.</a>
        </p>
        
      </header>
      <div class="projects row">
        {% for post in site.posts limit:6 %}
          {% include partials/portfolio_entry.html %}
        {% endfor %}
      </div>
      <header class='text-center'>
        <p class="lead">
          <a href="/portfolio">See all our work</a>
        </p>
      </header>
    </div>
  </div>
</section>
