<section class='section complex light' data-overlay-opacity='0.8' data-overlay='#202020' data-pattern-opacity='0.6' data-pattern='dot' id='section-services'>
  <div class='container'>
    <div class='section-content'>
      <header class='content-header section-header text-center'>
        <h2>We build and manage good things</h2>
        <p class='lead'>for the environment and social development</p>
      </header>
      <div class='iconboxes row'>
        <div class='col-24'>
          <aside class='iconbox text-center'>
            <div class='icon circle blue large'>
              <i class='fa fa-rocket'></i>
            </div>
            <div class='iconbox-content'>
              <h3 class='title'>Project design and development from $10k to $100m</h3>
              <p>Guide and prepare project concepts, results frameworks, tracking / M&E tools, especially for GEF.</p>
            </div>
          </aside>
        </div>
        <div class='col-24'>
          <aside class='iconbox text-center'>
            <div class='icon circle green large'>
              <i class='fa fa-user-md'></i>
            </div>
            <div class='iconbox-content'>
              <h3 class='title'>Software design and development</h3>
              <p>Concepts, design, coding, for mobile and web, data-driven and interactive</p>
            </div>
          </aside>
        </div>
        <div class='col-24'>
          <aside class='iconbox text-center'>
            <div class='icon circle yellow large'>
              <i class='fa fa-magic'></i>
            </div>
            <div class='iconbox-content'>
              <h3 class='title'>Project, programme and partnership management</h3>
              <p>Oversight, delivery, reporting, stakeholder management, communications, sub-contracting, capacity building</p>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
