---
layout: default
---

<div id="main" class='main'>
  <section class="page-title section">
    <div class="container">
      <div class="row">
        <div class="col-9">
          <header class='section-header content-header'>
            <h1 class='title'>Take a look at our work</h1>
            <p class="subtitle lead">
              Feel free to <a href='mailto:hello@peoplesized.com'>ask</a> us anything.
            </p>
          </header>
        </div>
        <div class="col-27"></div>
      </div>
    </div>
  </section>
  <section id="main-content" class='section light'>
    <div class="container">
      <div class="section-content row">
        <div id="primary" class='col-1'>
          <div class="projects row">
            {% for post in site.posts %}
              {% include partials/portfolio_entry.html %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
