---
layout: default
---

<div id='main' class='main'>
  <section class='section light' id='main-content'>
    <div class='container'>
      <div class='section-content row'>
        <div class='col-1' id='primary'>
          <article class='single-project'>
            <nav class='project-nav'>
              <a href='/archive.html' class='back-to-archive'>← Back to Archive</a>
            </nav>
            <header class='project-header'>
              <h1 class='project-title'>{{ page.title }}</h1>
            </header>
            <div class='row'>
              <div class='col-21'>
                <div class='project-images'>
                  <img src="{{ '/images/' | append: page.imageUrl | relative_url }}">
                </div>
              </div>
              <div class='col-15'>
                <div class='project-summary project-content-large'>
                  {{ page.content | markdownify }}
                </div>
                <div class='project-meta-footer'>
                  <time datetime="{{ page.date | date_to_xmlschema }}">
                    {% if page.started_year == page.completed_year %}
                      {{ page.completed_year }}
                    {% else %}
                      {{ page.started_year }} - {{ page.completed_year }}
                    {% endif %}
                  </time>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>
