---
layout: default
---

<div id='main' class='main'>
  <section class='page-title section dark'>
    <div class='container'>
      <div class='row'>
        <div class='col-9'>
          <header class='section-header content-header'>
            <h1 class='title'>
              {{ page.title }}
            </h1>
          </header>
        </div>
        <div class='col-27'></div>
      </div>
    </div>
  </section>
  <section class='section light' id='main-content'>
    <div class='container'>
      <div class='section-content row'>
        <div class='col-1' id='primary'>
          <article class='single-project'>
            <div class='row'>
              <div class='col-9'>
                <div class='project-images'>
                  <a href="{{page.website}}">
                    <img src="{{ site.image_root_url }}w_780/{{ site.image_account}}{{ page.imageUrl }}">
                  </a>
                </div>
              </div>
              <div class='col-27'>
                <div class='project-meta-header'>
                  {% if page.status %}
                    <span class='status status-{{ page.status | downcase | replace: " ", "-" }}'>{{ page.status }}</span>
                  {% endif %}
                  <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y" }}</time>
                </div>
                <div class='project-summary'>
                  {{ page.content | markdownify }}
                </div>
                <div class='project-details'>
                  {% if page.dateCompleted %}
                    <div class='project-completed'>
                      <strong>Completed</strong>: {{ page.dateCompleted }}
                    </div>
                  {% endif %}
                  {% if page.website %}
                    <a href="{{page.website}}" class='button primary medium fullwidth'>See project</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>
